.gradle
build
out
.DS_Store
*.iml

config/secrets.properties
config/secrets-local.properties
config/secrets-*.properties

config/product-url-overrides.properties
config/product-url-overrides-local.properties

# runtime secrets (local/server)
.env/*.properties
!.env/*.example.properties
